:root {
    /* SIZES */
    --footer-height: 80px;
    --header-height: 80px;
    /* COLORS */
    --text-white: #ffffff;
}

/* COMMON */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.ms_flex {
    display: flex;
}

/* .ms_up-case {
    text-transform: uppercase;
}

.ms_text-white{
    color: var(--text-white);
} */

.ms_container {
    width: 65%;
    max-width: 1170px;
    margin: 0 auto;
}

/* HEADER */
header {
    height: var(--header-height);
    background-color: #2c3e50;
    vertical-align: middle;
    line-height: var(--header-height);
}

div.ms_header-text-wrapper > a{
    color: var(--text-white);
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 900;
}

a.ms_burger-menu-i > i {
    font-size: 1.2rem;
    color: #888888;
    border: 1px solid #ffffff;
    border-radius: 3px;
    padding: .3rem .8rem;
}

ul.ms_nav-list > li {
    display: inline-block;
    margin: 0 .5rem;
}

ul.ms_nav-list > li > a {
    display: inline-block;
    color: var(--text-white);
    text-transform: uppercase;
    font-weight: bold;
}

/* JUMBOTRON */
section.ms_jumbotron {
    background-color: #1abc9c;
}

div.ms_jumbotron-img >img {
    width: 150px;
}

/* PORTFOLIO */
div.ms_img-wrapper {
    width: 100%;
    border-radius: 10px;
}

.ms_bg-c-1 {
    background-color: #ba4b63;
}

.ms_bg-c-2 {
    background-color: #1ea4b6;
}

.ms_bg-c-3 {
    background-color: #140f0f;
}

.ms_bg-c-4 {
    background-color: #1c83c1;
}

.ms_bg-c-5 {
    background-color: #0e38b5;
}

.ms_bg-c-6 {
    background-color: #ccb2a3;
}


/* ABOUT */
section.ms_about {
    background-color: #1abc9c;
}

/* CONTACT ME */
.ms_brd-b-g {
    border-bottom: 1px solid grey;
}

.ms_btn {
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
  }

/* FOOTER */
footer {
    background-color: #3a546d;
    color: white;
}

ul.ms_social-list {
    padding-left: 0;
}

ul.ms_social-list > li {
    display: inline-block;
}


.ms_copyright{
    background-color: #2c3e50;
    height: var(--footer-height);
    vertical-align: middle;
    line-height: var(--footer-height);
}