/* HEADER */
header{
    height: 80px;
    background-color: #2c3e50;
}

/* JUMBOTRON */
section.jumbotron{
    background-color: #1abc9c;
}

/* PORTFOLIO */
div.img-wrapper{
    width: 100%;
    border-radius: 10px;
}

.bg-c-1 {
    background-color: #ba4b63;
}

.bg-c-2 {
    background-color: #1ea4b6;
}

.bg-c-3 {
    background-color: #140f0f;
}

.bg-c-4 {
    background-color: #1c83c1;
}

.bg-c-5 {
    background-color: #0e38b5;
}

.bg-c-6 {
    background-color: #ccb2a3;
}
